mixin menuLink(title,href="#")
	li.header-menu-item
		a.header-menu-link(href=href)= title 
mixin headerBottomItem(number, title)
	.header-bottom-item 
		span.header-bottom-number= number
		span.header-bottom-text= title 

mixin blockBox(caption, title,desc)
	.block-box
		h3.block-box-caption= caption
		h2.block-box-heading= title 
		if desc 
			p.block-box-desc= desc
mixin aboutItem(data)
	.about-item 
		img.about-image(src= data.src,alt=data.alt)
		.about-content
				i.about-icon(class=data.iconClass)
				span.about-title= data.title
mixin serviceItem(src, title, desc)
	.service-item
		img.service-item-icon(src= src)
		.service-item-info 
				h3.service-item-title= title 
				p.service-item-desc= desc

mixin wedoItem(src,title,desc,active= "")
	.wedo-item(class= active)
		.wedo-item-header
			img(src= src, alt="").wedo-item-icon
			h3.wedo-item-title= title
			i.fal.fa-angle-up.wedo-item-arrow
		.wedo-item-content 
			.wedo-item-text= desc

mixin teamSocial(facebook= "#", twitter= "#",pinterest= "#", instagram= "#")
	ul.team-social 
		li.team-social-item
			a.team-social-link(href= facebook)
				i.fab.fa-facebook-f
		li.team-social-item
			a.team-social-link(href= twitter)
				i.fab.fa-twitter
		li.team-social-item
			a.team-social-link(href= pinterest)
				i.fab.fa-pinterest
		li.team-social-item
			a.team-social-link(href= instagram)
				i.fab.fa-instagram


mixin teamItem(src= "../images/img-team1.png", name= "Chirstopher John", position= "Frontend Developer")
	.team-item 
		.team-main 
			img(src= src, alt="").team-image
			.team-content 
				if block 
					block
		.team-info
			h3.team-name= name 
			span.team-position= position

mixin workItem(src,full="",icon="../images/img-work-icon.png",title="Photographer",desc= "Lorem ipsum dolor sit") 
	.work-item(class= full) 
		img(src= src, alt="").work-image
		.work-content 
			img(src=icon, alt="").work-icon
			h3.work-title= title
			span.work-desc.text.text--light= desc

mixin peopleItem(src="../images/img-people1.png",name= "MATTHEW DIX",job="graphic design",desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veritatis architecto quasi id voluptates voluptatem beatae. Repudiandae dolores qui eos. Fugiat eum incidunt impedit eaque veritatis obcaecati voluptatum tempora doloremque.")
	li.people-item
		img.people-avatar(src= src)
		.people-info
			h3.people-name= name
			span.people-job.text--light.text= job
			p.people-desc.text= desc

mixin storyItem(src="../images/img-blog1.png",dateNumber=15,dateText="Jan",title="Lorem, ipsum dolor sit amet consectetur adipisicing elit.", desc= "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste consectetur assumenda eligendi qui aspernatur ipsam rem cum, facilis nisi amet nesciunt perferendis voluptas, illum inventore omnis deserunt, dolore tempore quas!", view= 1000, cmt= 100) 
	li.story-item 
		.story-media 
			img.story-image(src= src)
			.story-date
				span.story-date-number= dateNumber
				span.story-date-text.text--light.text= dateText
		h3.story-title= title
		.story-desc.text 
			p.story-desc-inner= desc
		.story-meta 
			.story-meta-item 
				i.fa.fa-eye.story-meta-icon
				span.story-meta-number.text= view
			.story-meta-item 
				i.fa.fa-comment.story-meta-icon
				span.story-meta-number.text= cmt

mixin quoteItem(src="../images/img-quote.png",type=false, desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo incidunt expedita accusantium itaque blanditiis voluptatum. Dolore dolorem vitae architecto harum ratione iure odio sit, omnis, error laborum saepe voluptatibus vel?", author="Jon Doe")
	.quote-item
		if type == false
			.quote-image
				img(src= src, alt="")
		else
			img(src=src, alt="").quote-image
			.quote-info
				p.quote-desc= desc
				span.quote-author= author